
h1, h2, p {
    text-align: center;
}
body {
    background-image:url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg)
}
.menu {
    styles
    margin-left:auto;
    margin-right:auto;

    width: 80%;

    background-color: blurywood;
}
.flavor {
    text-align:left;
}
.price {
    width:49%;
    text-align:right;
}
.item p {
    width:49%;
    display:inline-block;
}