
h1, h2, p {
    text-align: center;
}
body {
    font-family: sans-serif;
    padding: 20px;
    background-image:url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg)
}
.menu {
    width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  }
  hr {
    height: 2px;
    background: brown;
    border-color: brown;
  }
  h1 {
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .established{
    font-style:italic
  }
  h1, h2 {
    font-family: Impact, serif;
  }
.flavor, .dessert {
    text-align:left;
}
.price {
    width:75%; 
    text-align:right;
}
.item p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    width:25%;
    display:inline-block;
}
.bottom-line {
    margin-top: 25px;

}
/* FOOTER */
footer {
    font-size: 14px;
}
a{
    color: black;
}
a:visited {
    color: gblack;
}
a:hover {
    color: brown;
}
a:active {
    color: brown;
}
.address{
    margin-bottom: 5px;
}
img {
    margin-top: -25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}