
h1, h2, p {
    text-align: center;
}
body {
    /*background-color: burlywood;*/
}
.menu {
    styles
    margin-left:auto;
    margin-right:auto;

    width: 80%;

    background-color: blurywood;
}